// Base de mi proyecto filmax
* {
  box-sizing: border-box;
}

body {
  background-color: #1a1d24;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
